@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $main-purple;
    width: 100vw;
    height: 100vh;
    @include flexDisplay();
    .container {
        @include flexDisplay();
        max-width: 50vw;
        min-width: 300px;
        height: 85vh;
        background: $pale-blue;
        color: $deep-burgundy;
        border-radius: 15px;
        header {
            @include flexDisplay();
            width: 50vw;
            margin-top: 7.5vh;
            margin-bottom: 2vh;
            text-align: center;
            font-family: 'Gravitas One', cursive;
            h1 {
                margin: 0 2.5vw;
            }
        }
        .search-location {
            @include flexDisplay();
            flex-direction: row;
            flex-wrap: wrap;
            width: 35vw;
            input {
                min-width: 225px;
                margin: 10px 10px;
                outline: none;
            }
            button {
                width: 50px;
                height: 30px;
                margin: 10px 10px;
                border-radius: 10px;
                outline: none;
                &:hover {
                    cursor: pointer;
                    background: $main-purple;
                    color: $pale-blue;
                }
            }
        }
        .weather-icon {
            @include flexDisplay();
            max-height: 50vh;
            max-width: 40vw;
            margin-top: 1vh;
            img {
                display: flex;
                min-width: 250px;
                min-height: 155px;
                max-width: 100%;;
                max-height: 100%;
            }
            i {
                margin-top: 3vh;
                display: flex;
                font-size: 7.5em;
            }
            @media (max-width: 464px) {
                i {
                    display: flex;
                    font-size: 6.5em;
                }
            }
        }
        .weather {
            text-align: center;
            margin-bottom: 5vh;
            min-width: 250px;
            max-width: 50vw;
            height: 55vh;
            font-family: 'Gravitas One', cursive;
            @include flexDisplay();
            .temp,
            .description,
            .city {
                @include flexDisplay();
                margin: 2vh;
            }
            .temp {
                font-size: 2.75em;
            }
            .description {
                text-transform: capitalize;
                font-size: 1.25em;
            }
            .city {
                font-size: 1.25em;
            }
            @media (max-width: 464px) {
                .temp {
                    font-size: 2.5em;
                }
                .description {
                    text-transform: capitalize;
                    font-size: 1.2em;
                }
                .city {
                    font-size: 1.2em;
                }
            }
        }
    }
}